body {
    overscroll-behavior: none;
    color: #585858;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.title {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 1080px;
}

.title h1 {
    margin-bottom: 10px;
}

.title h5 {
    margin: 5px 0px;
}

.title h5 a {
    color: #87d1df;
}

.canvas-main {
    position: fixed;
    width: 1053px;
    height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
    display: none;
    border: 1.5px solid #ddd;
    padding: 20px;
}

/* #canvas {
    height: 500px;
    width: 800px;
} */

.active {
    color: lightblue;
}

.can-color .active {
    border: 1px solid lightblue !important;
    width: 23px !important;
    height: 13px !important;
}

.black {
    background-color: black;
}
.red {
    background-color: lightcoral;
}
.blue {
    background-color: lightblue;
}
.green {
    background-color: lightgreen;
}
.yellow {
    background-color: lightyellow;
}
.orange {
    background-color: lightsalmon;
}
.gray {
    background-color: lightgray;
}
.pink {
    background-color: lightpink;
}
.purple {
    background-color: plum;
}

.canvas-container {
    float: left;
}

#canvas {
    border: 1.5px solid #87d1df;
    cursor: crosshair;
    padding: 0px;
}

.graffiti {
    border: 1px solid #87d1df;
}

#auxiliary-ele {
    pointer-events: none;
    border: 1.5px dashed #ddd;
    position: fixed;
    width: 10px;
    height: 10px;
    display: none;
}

.canvas-button {
    border: 1.5px solid #87d1df;
    border-left: none;
    float: left;
    height: 503px;
    width: 250px;
    padding: 6px 16px;
    box-sizing: border-box;
    user-select: none;
}

.canvas-button h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.canvas-button ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.canvas-button ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    cursor: default;
}

.canvas-button ul li:hover {
    border-bottom: 1px solid #000;
}

.canvas-button ul li span {
    font-size: 13px;
}

.canvas-button .can-color li {
    border: 1.5px solid #ddd;
    width: 20px;
    height: 10px;
}

.canvas-button .can-size .small {
    font-size: 12px;
}
.canvas-button .can-size .middle {
    font-size: 16px;
}
.canvas-button .can-size .big {
    font-size: 18px;
}

#images {
    padding-top: 10px;
    clear: both;
}

#images img {
    width: 240px;
    height: 150px;
    border: 1.5px solid #87d1df;
}