.graff-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graff-container {
  width: 80%;
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #6190e8;
}

.title,
.container {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 1080px;
  max-width: 96%;
}

.title h1 {
  margin-bottom: 10px;
}

.title h5 {
  margin: 5px 0px;
}

.title h5 a {
  color: #6190e8;
}

.active {
  color: #6190e8;
}

.svg-container {
  float: left;
  height: 500px;
  width: 70%;
}

#graff-svg {
  border: 1.5px solid #6190e8;
  cursor: crosshair;
  padding: 0px;
  touch-action: none;
  background-image: url("/static/grid.png");
  width: 100%;
  height: 100%;
}

.svg-button {
  border: 1.5px solid #6190e8;
  border-left: none;
  float: left;
  height: 500px;
  width: 30%;
  padding: 6px 16px;
  box-sizing: border-box;
  user-select: none;
  overflow-y: auto;
}

.svg-button h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.svg-button > div {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.svg-button > div div {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  cursor: default;
}

.svg-button > div div:hover {
  color: rgba(97, 144, 232, 0.63);
}

.svg-button > div span {
  font-size: 13px;
}

.svg-button .can-color li {
  border: 1.5px solid #ddd;
  width: 20px;
  height: 10px;
}

.svg-button .can-size .small {
  font-size: 12px;
}
.svg-button .can-size .middle {
  font-size: 16px;
}
.svg-button .can-size .big {
  font-size: 18px;
}

#images {
  padding-top: 10px;
  clear: both;
}

#images textarea {
  border: 1.5px solid #6190e8;
}
