@charset "UTF-8";
th {
  text-align: left;
}

.ace-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
}

.ace-container .bookmarklet {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-width: 9px;
  border-style: solid;
  border-color: lightblue gray gray #ceade6;
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
}

.ace-editor {
  -webkit-box-flex: 1;
          flex: 1;
}

.tinymce {
  height: 100%;
}

.toolbar-container {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.xk-toolbar {
  background: #fff;
}

.xk-toolbar span {
  padding: 0px;
}

.xk-toolbar .xk-button {
  background: none;
  color: #6190e8;
  color: #3f536e;
  border: none;
  font-size: 1em;
  padding: 0.2em 0.4em;
  margin: 0.2em;
}

.xk-toolbar .xk-button:hover {
  color: #fff;
  background: #6190e8a0;
}

.xk-toolbar .xk-button.active {
  color: #fff;
  background: #6190e8;
}

.xk-input {
  position: relative;
  font-size: 0.85em;
  line-height: 1.5;
  outline: 0;
}

.xk-input input {
  display: block;
  width: 100%;
  padding: 6px 32px 6px 12px;
  color: #3f536e;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #c5d9e8;
  border-radius: 4px;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  outline: none;
  box-sizing: border-box;
}

.xk-input input:hover {
  border-color: #79a1eb;
}

.xk-input i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 6px 0 0;
  width: 20px;
  height: 100%;
  color: #c5d9e8;
  font-size: 15px;
  text-align: center;
}

.xk-radio {
  display: inline-block;
  padding: 2px 5px;
}

.xk-radio input {
  display: none;
}

.xk-radio input + label {
  font-size: 1.1em;
}

.xk-radio input + label svg {
  vertical-align: middle;
}

.xk-radio input[type="radio"] + label .advice {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #c5d9e8;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.xk-radio input[type="radio"]:checked + label .advice {
  background: #79a1eb;
}

.xk-modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: 0;
  z-index: 1000;
}

.xk-modal {
  position: relative;
  top: 100px;
  width: 520px;
  margin: 0 auto 0 10%;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
}

.xk-modal-header {
  padding: 12px 16px;
  color: #2c405a;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 1px solid #ececec;
}

.xk-modal-header p,
.xk-modal-header .xk-modal-title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
}

.xk-modal-body {
  padding: 16px;
  font-size: 13px;
  line-height: 1.5;
  max-height: 80vh;
  overflow-y: auto;
}

.xk-modal-footer {
  padding: 12px 16px;
  border-top: 1px solid #ececec;
  text-align: right;
}

.xk-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 13px;
  line-height: 1;
  overflow: hidden;
  cursor: pointer;
}

.xk-row {
  display: block;
  width: 100%;
}

.xk-col-12 {
  width: 50%;
  float: left;
}

.xk-clear {
  clear: both;
}

.img-upload-sub {
  padding-left: 10px;
}

@media (max-width: 991px) {
  .xk-modal {
    width: 80%;
  }
}

.xkeditor-toast {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #03b8cf;
  color: #fff;
  border-radius: 20px;
}

.xkeditor-toast.error {
  background-color: #ea644a;
}

.xkeditor-toast.success {
  background-color: #38b03f;
}

.xkeditor-toast p {
  padding: 10px 15px;
  display: inline-block;
}

.xkeditor-toast i {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  padding: 0 0 0 15px;
}

.xkeditor-toast i:after {
  -webkit-animation: loading 0.5s infinite linear;
          animation: loading 0.5s infinite linear;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 0.8rem;
  left: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
  position: relative;
  top: 50%;
  width: 0.8rem;
  z-index: 1;
}

.toolbar-modal .xk-input {
  margin-top: 5px;
  margin-bottom: 10px;
}

.help {
  overflow-y: auto;
  height: 50vh;
}

.info {
  overflow-y: auto;
}

.info p {
  font-size: 0.9em;
}

.info * {
  margin: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.xkeditor {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.xkeditor .row {
  margin: 0;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.xkeditor .row .xk-col-12 {
  height: 100%;
}

.editor-container {
  overflow: hidden;
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  position: relative;
}

#previewHtml {
  overflow: auto;
  max-height: 100%;
  padding: 15px 15px;
  word-break: break-word;
  white-space: normal;
  box-sizing: border-box;
}

.xk-col-24 #previewHtml {
  float: left;
  width: 80%;
}

.toc,
#toc {
  word-break: break-word;
  white-space: normal;
  overflow-y: auto;
  height: 100%;
}

.toc ul,
#toc ul {
  margin: 0px;
  padding-left: 20px;
}

.toc li,
#toc li {
  list-style: none;
  padding-left: 5px;
}

.toc li i,
#toc li i {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  background-image: url("/static/svg/disc.svg");
  background-size: cover;
  background-position: center;
}

.toc li i.can-active,
#toc li i.can-active {
  background-image: url("/static/svg/minus-square.svg");
}

.toc li i.can-active + a + ul,
#toc li i.can-active + a + ul {
  display: block;
}

.toc li i.active,
#toc li i.active {
  background-image: url("/static/svg/plus-square.svg");
}

.toc li i.active + a + ul,
#toc li i.active + a + ul {
  display: none;
}

.toc.default-fold i.can-active,
#toc.default-fold i.can-active {
  background-image: url("/static/svg/plus-square.svg");
}

.toc.default-fold i.can-active + a + ul,
#toc.default-fold i.can-active + a + ul {
  display: none;
}

.toc.default-fold i.active,
#toc.default-fold i.active {
  background-image: url("/static/svg/minus-square.svg");
}

.toc.default-fold i.active + a + ul,
#toc.default-fold i.active + a + ul {
  display: block;
}

.toc a,
#toc a {
  color: #0366d6;
  text-decoration: none;
  font-size: 1.05em;
}

.xk-col-24 {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.xk-col-12 {
  padding: 0px;
  width: 50%;
  height: 100%;
  float: left;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}

.close-preview-full {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

#toc {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20%;
  background: #f5f5f5;
  border-left: 1px solid #ddd;
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
}

#toc-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  padding: 6px;
  z-index: 1000;
  box-sizing: content-box;
}

.xk-button {
  display: inline-block;
  padding: 6px 16px;
  outline: 0;
  font-size: 0.85em;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #c5d9e8;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.xk-button-primary {
  color: #fff;
  background: #6190e8;
}

#resizor {
  position: absolute;
  bottom: 50%;
  left: 50%;
  cursor: w-resize;
  background-color: #666;
  border-radius: 5px;
  margin-top: -10px;
  width: 6px;
  height: 30px;
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.run-code-output,
.run-code-input {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-family: courier;
}

.run-code-output code,
.run-code-output textarea,
.run-code-input code,
.run-code-input textarea {
  width: 100%;
  height: 100px;
  margin: 0 0.8rem;
  white-space: pre;
  vertical-align: middle;
  word-break: break-word;
  overflow-y: auto;
  background-color: #fff !important;
  margin: 0;
  border: 0.05rem solid #bcc3ce;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.7rem !important;
}

.run-code-output textarea,
.run-code-input textarea {
  height: 3rem;
  display: none;
}

.run-code-output code:empty,
.run-code-input code:empty {
  display: none;
  margin: 0;
}

.run-code-output code span.process,
.run-code-input code span.process {
  color: #3280fc;
}

.run-code-output code span.success,
.run-code-input code span.success {
  color: #32b643;
}

.run-code-output code span.error,
.run-code-input code span.error {
  color: #ea644a;
}

.run-code-output code span.o1,
.run-code-input code span.o1 {
  color: #f1a325;
}

.run-code-btn,
.reset-code-btn,
.input-code-btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 0.5rem;
  border: 2px solid #333;
  width: 4rem;
  font-size: 0.8rem;
  line-height: 1;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.run-code-btn:hover,
.reset-code-btn:hover,
.input-code-btn:hover {
  background-color: #333;
  color: #fff;
}

.notebox {
  margin: 15px 0;
  padding: 1em;
}

.notebox p {
  margin: 0px !important;
}

.graffiti {
  border: 1px dashed #ccc;
  cursor: pointer;
}

@media (max-width: 991px) {
  .xk-col-24 #previewHtml {
    float: left;
    width: 100%;
  }
  #toc {
    width: 80%;
  }
  #resizor {
    display: none;
  }
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
